@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  border-top: 1px solid $color-gray-border;
  max-width: $layout-post-width;
  padding-top: 20px;
  @include line-height(1);
  @include margin-top(1);
  @include margin-bottom(2);

  &__bio {
    margin-bottom: 36px;
    &-linkedin {
      display: block;
      text-decoration: underline;
    }
  }

  &__form {
    text-align: center;
    border: 2px solid #000000;
    border-radius: 42px;
    padding: 42px;

    &-header {
      font-weight: bold;
      font-size: 24px;
      margin-top: 0;
    }
    &-description {
      margin-bottom: initial;
    }
    &-label {
      display: block;
      color: #2F4F4F;
      font-size: 18px;
    }
    &-input {
      height: 28px;
      margin-top: 4px;
      border: 1px solid #000000;
      border-radius: 5px;
      font-weight: 500;
      font-size: 16px;
      padding-left: 6px;
      padding-right: 6px;
      width: 280px;

      @media (max-width: 397px) {
        width: 194px;
      }
      &:focus {
        outline: none;
      }
    }
    &-button {
      cursor: pointer;
      background-color: #F0FFFF;
      height: 36px;
      font-size: 18px;
      border-radius: 20px;
      padding-left: 14px;
      padding-right: 14px;
      -webkit-appearance: none;

      &:focus {
        outline: none;
      }
    }
  }
}

@include breakpoint-sm {
  .author {
    margin-left: auto;
    margin-right: auto;
  }

}